/**
*bootstrapÃƒÂ¦Ã¢â‚¬Â°Ã‚Â©ÃƒÂ¥Ã‚Â±Ã¢â‚¬Â¢ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â
*/
.btn-itcast {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast:hover,
.btn-itcast:focus,
.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    background-image: none;
}

.btn-itcast.disabled,
.btn-itcast[disabled],
fieldset[disabled] .btn-itcast,
.btn-itcast.disabled:hover,
.btn-itcast[disabled]:hover,
fieldset[disabled] .btn-itcast:hover,
.btn-itcast.disabled:focus,
.btn-itcast[disabled]:focus,
fieldset[disabled] .btn-itcast:focus,
.btn-itcast.disabled:active,
.btn-itcast[disabled]:active,
fieldset[disabled] .btn-itcast:active,
.btn-itcast.disabled.active,
.btn-itcast[disabled].active,
fieldset[disabled] .btn-itcast.active {
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast .badge {
    color: #E92322;
    background-color: #ffffff;
}

.navbar-itcast {
    background-color: #fff;
    border-color: #f5f5f5;
    height: 80px;
    margin-bottom: 0;
    width: 100%;
    top: 0;
}

.navbar-itcast .navbar-brand {
    color: #777;
}

.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-itcast .navbar-text {
    color: #777;
}

.navbar-itcast .navbar-nav > li > a {
    color: #777;
    line-height: 25px;
    padding-bottom: 0;
    margin-top: 10px;
}

.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #e92722;
}

.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom: 2px solid #e92722;
}

.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin: 23px 0;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-itcast .navbar-link {
    color: #777;
}

.navbar-itcast .navbar-link:hover {
    color: #333;
}

.navbar-itcast .btn-link {
    color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}
/*Ã©ÂÂ¢Ã¦ÂÂ¿*/
.panel-czbk {
    border-color: #ddd;
}
.panel-czbk > .panel-heading {
    color: #333;
    /* background-color: #f5f5f5; */
    /* border-color: #ddd; */
    float: right;
    padding: 0;
    width: 120px;
    height: 150px;
}
.panel-czbk > .panel-body {
    float: left;
    margin-right: 120px;
    height: 150px;
    background-color: #fff;
}
.panel-czbk > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-czbk > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
/**
*ÃƒÂ¥Ã¢â‚¬Â¦Ã‚Â¬ÃƒÂ¥Ã¢â‚¬Â¦Ã‚Â±ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â
*/
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
    font-family: 'itcast';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg') format('svg'), url('../font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.woff') format('woff');

}

[class^='icon-'], [class*=' icon-'] {
    font-family: itcast;
    font-style: normal;
}

.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}

/**
* ÃƒÂ¥Ã‚Â¤Ã‚Â´ÃƒÂ©Ã†â€™Ã‚Â¨
*/
/*#header {*/
/*height: 200px;*/
/*}*/

#header > .topbar {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
}

#header > .topbar > .container > .row > div {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

#header > .topbar > .container > .row > div + div {
    border-left: 1px solid #c0c0c0;
}

#header .mobile-link {
    font-size: 12px;
    color: #888;
}

#header .mobile-link:hover {
    text-decoration: none;
}

#header .mobile-link img {
    position: absolute;
    left: 50%;
    top: 29px;
    margin-left: -60px;
    display: none;
    z-index: 1001;
}

#header .mobile-link:hover img {

    display: block;
}

#header a {
    color: #888;
}

#header a:hover {
    text-decoration: none;
}

#header .btn-itcast {
    color: #fff;
}

#header .icon-icon {
    font-size: 50px;
    color: #E92322;
    line-height: 50px;
    vertical-align: middle;
}

#header .icon-logo {
    font-size: 32px;
    color: #333;
    line-height: 50px;
    vertical-align: middle;
}

/**
* ÃƒÂ©Ã¢â€šÂ¬Ã…Â¡ÃƒÂ¦Ã‚Â Ã‚ÂÃƒÂ¥Ã‚Â¹Ã‚Â¿ÃƒÂ¥Ã¢â‚¬ËœÃ…Â ÃƒÂ¨Ã‚Â½Ã‚Â®ÃƒÂ¦Ã¢â‚¬â„¢Ã‚Â­ÃƒÂ©Ã†â€™Ã‚Â¨ÃƒÂ¥Ã‹â€ Ã¢â‚¬Â 
*/

#main_ad {

}

#main_ad > .carousel-inner > .item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*ÃƒÂ©Ã¢â€šÂ¬Ã…Â¡ÃƒÂ¨Ã‚Â¿Ã¢â‚¬Â¡ÃƒÂ¥Ã‚ÂªÃ¢â‚¬â„¢ÃƒÂ¤Ã‚Â½Ã¢â‚¬Å“ÃƒÂ¦Ã…Â¸Ã‚Â¥ÃƒÂ¨Ã‚Â¯Ã‚Â¢ÃƒÂ¦Ã…Â½Ã‚Â§ÃƒÂ¥Ã‹â€ Ã‚Â¶ÃƒÂ¥Ã‚Â°Ã‚ÂÃƒÂ¥Ã‚Â±Ã‚ÂÃƒÂ¥Ã‚Â¹Ã¢â‚¬Â¢ÃƒÂ¦Ã¢â‚¬â€Ã‚Â¶ÃƒÂ¨Ã‚Â½Ã‚Â®ÃƒÂ¦Ã¢â‚¬â„¢Ã‚Â­ÃƒÂ¥Ã¢â‚¬ÂºÃ‚Â¾ÃƒÂ§Ã¢â‚¬Â°Ã¢â‚¬Â¡ÃƒÂ§Ã…Â¡Ã¢â‚¬Å¾ÃƒÂ©Ã‚Â«Ã‹Å“ÃƒÂ¥Ã‚ÂºÃ‚Â¦*/
@media (min-width: 768px) {
    #main_ad > .carousel-inner > .item {
        height: 410px;
    }
}

/*ÃƒÂ¥Ã…â€œÃ‚Â¨ÃƒÂ¥Ã‚Â°Ã‚ÂÃƒÂ¥Ã‚Â±Ã‚ÂÃƒÂ¥Ã‚Â¹Ã¢â‚¬Â¢ÃƒÂ¦Ã¢â‚¬â€Ã‚Â¶ÃƒÂ¨Ã‚Â½Ã‚Â®ÃƒÂ¦Ã¢â‚¬â„¢Ã‚Â­ÃƒÂ¥Ã¢â‚¬ÂºÃ‚Â¾ÃƒÂ¥Ã‚Â®Ã‚Â½ÃƒÂ¥Ã‚ÂºÃ‚Â¦ÃƒÂ¤Ã‚Â¸Ã‚Âº100%*/
#main_ad > .carousel-inner > .item > img {
    width: 100%;
}

/**
*Ã§â€°Â¹Ã¨â€°Â²Ã¦ÂÂ¿Ã¥Ââ€”
*/
#tese{
    padding: 50px 0;
    border-bottom: 1px solid #c0c0c0;
}

#tese i{
    font-size: 32px;
}

#tese a{
    color: #888;
}

#tese a:hover {
    text-decoration: none;
}

.icon-uniE907:before {
    content: "\e907";
}

#tese>.container>.row>div{
    margin-top: 20px;
    margin-bottom: 20px;
}

/**
*Ã§Â«â€¹Ã¥ÂÂ³Ã©Â¢â€žÃ§ÂºÂ¦
*/
#ljyy{
    padding: 20px 0;
    border-bottom: 1px solid #c0c0c0;
}

#ljyy >.container>p>span,#ljyy >.container>.pull-left>a{
    color: #E92322;
}

#ljyy >.container>.pull-left>a{
    border-bottom: 1px dashed #E92322;
}
#ljyy >.container>.pull-right>a{
    color: #888;
}
#ljyy >.container>p>a:hover{
    text-decoration: none;
    cursor: pointer;
}

#ljyy >.container >p{
    line-height: 30px;
}
#ljyy .pull-right i{
    padding-right: 10px;
}
.icon-uniE906:before {
    content: "\e906";
}
.icon-uniE905:before {
    content: "\e905";
}
/**
*Ã¤ÂºÂ§Ã¥â€œÂÃ¦Å½Â¨Ã¨ÂÂ
*/
#products{
    background-color: #f0f0f0;
    padding: 40px 0;
}

#products > .container > .nav-tabs{
    padding-left: 20px;
}

#products > .container > .nav-tabs > li{}

#products > .container > .nav-tabs > li.active{}

#products > .container > .nav-tabs > li.active > a{
    background: transparent;
    border: 0;
    border-bottom: 4px solid #e92322;
}

#products > .container > .nav-tabs > li > a{
    font-size: 16px;
    color: #333;
}

#products > .container > .nav-tabs > li > a:hover{
    /* border: 0; */
    border-color: transparent;
    background-color: transparent;
    color: #000;
}

#products > .container > .tab-content{
    padding: 20px 0;
}

/*Ã¦â€“Â°Ã©â€”Â»Ã¦ÂÂ¿Ã¥Ââ€”*/
#news{
    padding: 50px;
}
#news .new-title{
    padding: 15px 0;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px dashed #c0c0c0;
    position: relative;
    margin-right: 10px;
}

#news .new-title::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: -5px;
    right: -10px;
    border: 1px solid #c0c0c0;
}

.icon-news01:before {
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news03:before {
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news04:before {
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}

@media (max-width: 768px) {
    #news .nav-stacked > li {
        float: left;
        margin-right: 20px;
    }
}
/*Ã¨â€žÅ¡Ã¦Â³Â¨*/
#footer{
    height: 100px;
}